<%= form_for(@stumbling, url: api_v1_user_stumbling_path(@stumbling)) do |f| %>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">search_key</label>
        <input type="text" class="form-control" id="formGroupExampleInput" <%= f.text_field :search_key %>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">dictionary_key</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="本タイトルを入力してください" <%= f.text_field :dictionary_key %>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Errorda</label>
        <%= f.text_area :memo , size: "20x10", class: "form-control"%>
    </div>
    <div><%= f.submit "更新する" %></div>
</form>
<% end %>