<h1>Stumblings#index</h1>
<% @stumblings.each do |stumbling| %>
    <div>
    <%= stumbling.search_key %>
        <p><%= stumbling.dictionary_key %></p>
        <p><%= stumbling.memo %></p>
        <p><%= stumbling.end_time %></p>
    <%= link_to "編集", edit_api_v1_user_stumbling_path(stumbling) %>


    </div>
<% end %>




