<h2>・MyDictionary</h2>
<table class="table table-striped">
<thead>
        <tr>
            <th scope="col">Error解決後タイトル</th>
            <th scope="col">Error検索時タイトル</th>
            <th scope="col">Error解決に至るまでのメモ</th>
            <th scope="col">Error解決時間</th>
        </tr>
    </thead>
    <tbody >
    <% @stumblings.each do |stumbling| %>
        <tr >
            <td ><%= stumbling.dictionary_key %></td>
            <td ><%= stumbling.search_key.truncate(12, omission: '...') %></td>
            <td ><%= stumbling.memo.truncate(12, omission: '...') %></td>
            <td ><%= (stumbling.end_time - stumbling.created_at).to_i/60 %>分</td>
            <td ><%= link_to '編集', edit_api_v1_user_stumbling_path(stumbling) %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= paginate @stumblings, theme: 'bootstrap-5' %>